doctype html
html
    head
        title=title
        link(rel="stylesheet" type="text/css" href="./css/style.css")

        //- script(src="/__/firebase/5.5.1/firebase.js")
        //- script(src="/__/firebase/init.js")
          
    body
        h1 Index

        form(id="signup-form")
            button(type="submit") Sign up

        form(id="signin-form")
            button(type="submit") Sign in

        button(id="signout" type="button") Sign out        
        button(id="delete-user" type="button") delete

        form(id="init-household-form")
            input(name="name" type="text" class="household-name")
            button(type="submit") Create Household

    script(type="text/javascript" src="./js/bundle.js")