doctype html
html
    head
        title=title
        link(rel="stylesheet" type="text/css" href="../css/normalize.css")
        link(rel="stylesheet" type="text/css" href="../css/skeleton.css")
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/__/firebase/5.5.1/firebase.js")
        script(src="/__/firebase/init.js")

    body
        div(class="container")
            h1 Test Dashboard

            h2 Sensors
            form(id="delete-sensors")
                button(type="submit" class="button-primary") Delete all

            form(id="add-sensors")
                button(type="submit" class="button-primary") Add to all households


    script(type="text/javascript" src="../js/test.js")