doctype html
html
    head
        title=title
        link(rel="stylesheet" type="text/css" href="../css/normalize.css")
        link(rel="stylesheet" type="text/css" href="../css/skeleton.css")
        link(rel="stylesheet" type="text/css" href="../css/style.css")
        
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/__/firebase/5.5.1/firebase.js")
        script(src="/__/firebase/init.js")

    body
        div(class="container")
            h1 Base Stations Dashboard

            div(class="base-station-list")
                ul

    script(type="text/javascript" src="../js/basestations.js")